h1{
    background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
}
h3{
    background-color: #FEE9A0;
}
.setumei{
    background-color: rgb(120, 167, 237);
    font-family: "Dela Gothic One";
}
img{
    margin:0;
padding:0;
width: fit-content;
}
.hr{
    position: relative;
}
.hr h2{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: #FEE9A0;
  font-family: Dela Gothic One;
  font-weight: bold;
}
.hr h4{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: #FEE9A0;
  font-family: Dela Gothic One;
}
.hh {
  position: absolute;
  right: 130px;
  bottom: 70px;
  width: 130px;
  height: 150px;

}
.ab{
    position: relative;
}
.ab h2{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: #FEE9A0;
  font-family: Dela Gothic One;
  font-weight: bold;
}
.ab h4{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: #FEE9A0;
  font-family: Dela Gothic One;
}
.bb {
  position: absolute;
  right: 120px;
  bottom: 70px;
  width: 130px;
  height: 170px;

}

.ac{
    position: relative;
}
.cc {
  position: absolute;
  right: 110px;
  bottom: 70px;
  width: 130px;
  height: 150px;

}
.ac h2{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: #FEE9A0;
  font-family: Dela Gothic One;
  font-weight: bold;
}
.ac h4{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: #FEE9A0;
  font-family: Dela Gothic One;
}


.hd{
    position: relative;
}
.dd {
  position: absolute;
  right: 120px;
  bottom: 70px;
  width: 130px;
  height: 170px;

}
.hd h2{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: #FEE9A0;
  font-family: Dela Gothic One;
  font-weight: bold;
}
.hd h4{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: #FEE9A0;
  font-family: Dela Gothic One;
}
.ae{
    position: relative;
}
.ee {
  position: absolute;
  right: 130px;
  bottom: 70px;
  width: 130px;
  height: 150px;

}
.ae h2{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: #FEE9A0;
  font-family: Dela Gothic One;
  font-weight: bold;
}
.ae h4{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: #FEE9A0;
  font-family: Dela Gothic One;
}
